<div class="row">
	<div class="column col-3 column-categories">
		<div class="categories">
			<ul class="cats-list">
				<li class="cats-btn category-simple">
					<a class="cats-link">{{ lang.error.title|upper }}</a>
				</li>
				<li class="cats-btn category-simple">
					<a class="cats-link">{{ lang.error.title|upper }}</a>
				</li>
				<li class="cats-btn category-simple">
					<a class="cats-link">{{ lang.error.title|upper }}</a>
				</li>
				<li class="cats-btn category-simple">
					<a class="cats-link">{{ lang.error.title|upper }}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="column col-9 column-contents">
		<div class="content active">
			<pre style="margin: 0;">████ ██▓▓▓▓▓▓▓▓▓▓██ ███ ███ ██▓▓▓▓▓▓▓▓▓▓▓████████▓▓▓▓███▓▓▓▓▓▓▓▓████
████ ██▓▓▓▓▓▓▓▓▓▓██ ███ ███ ██▓▓▓▓▓▓▓▓▓▓▓███ █████▓▓▓▓███▓▓▓▓▓▓▓▓████
█ ███ ██▓▓▓▓▓  ▓▓▓ ▓▓██ ██ █ ███ ██▓▓▓▓ ▓▓▓▓▓▓████████  ▓▓▓▓██ █▓▓▓▓▓▓▓▓████
████ ██▓▓▓▓▓▓ ▓▓▓▓██ ███ ███ ██▓▓   ▓▓▓▓▓▓▓▓▓ ████████▓▓▓▓███▓▓▓▓▓▓▓▓████
████ ██▓▓▓▓   ▓▓▓▓▓▓██ ███ ███ ██▓▓▓▓▓▓▓ ▓▓▓▓███ █████▓▓▓▓███ ▓▓▓▓▓▓▓▓████
████ ██▓▓▓▓▓▓ ▓▓▓▓██ ███ ███ ██▓▓   ▓▓▓▓▓▓▓▓▓ ██████ ██▓▓▓▓███▓▓▓▓▓▓  ▓▓████
████ ██▓▓▓▓   ▓▓▓▓▓▓ ██ ███ ███ ██ ▓▓▓▓▓▓▓ ▓▓▓▓█  ███████▓  ▓▓▓███ ▓▓▓▓▓▓▓▓████</pre>
			<p style="margin: 0;"> ▓▓▓▓▓▓████████▓▓▓▓██ █▓▓▓▓▓▓▓▓████
					████ ██▓▓▓▓▓▓ ▓▓▓▓██ ███  ███ ██▓▓   ▓▓▓▓▓▓▓▓▓ ████████▓▓▓▓███▓{{ lang.error.title }}: {{ message }} ▓▓▓▓▓▓████████▓▓▓▓██ █▓▓▓▓▓▓▓▓████
					████ ██▓▓▓▓▓▓ ▓▓▓▓██ ███  ███ ██▓▓   ▓▓▓▓▓▓▓▓▓ ████████▓▓▓▓███▓</p>
			<pre style="margin: 0;">████ ██▓▓▓▓▓▓▓▓▓▓██ ███ ███ ██▓▓▓▓▓▓▓▓▓▓▓████████▓▓▓▓███▓▓▓▓▓▓▓▓████
████ ██▓▓▓▓▓▓▓▓▓▓██ ███ ███ ██▓▓▓▓▓▓▓▓▓▓▓███ █████▓▓▓▓███▓▓▓▓▓▓▓▓████
█ █ ██ ██▓▓▓▓▓  ▓▓▓ ▓▓██ ██ █ ███ ██▓▓▓▓ ▓▓▓▓▓▓████████▓▓▓▓██ █▓▓▓▓▓▓▓▓████
████ ██▓▓▓▓▓▓ ▓▓▓▓██ ███  ███ ██▓▓   ▓▓▓▓▓▓▓▓▓ ████████▓▓▓▓███▓▓▓▓▓▓▓▓████
██ ██ ██▓▓▓▓   ▓▓▓▓▓▓██ ███ ███ ██▓▓▓▓▓▓▓ ▓▓▓▓████████▓▓▓▓███ ▓▓▓▓▓▓▓▓████
█ █   ██ ██▓▓▓▓▓▓ ▓▓▓▓██ ███ ███  ██▓▓   ▓▓▓▓▓▓▓ ▓▓ ██████ ██▓▓▓ ▓███▓▓ ▓▓▓ ▓▓▓█ ███
██ ██ ██▓▓▓▓   ▓▓▓▓▓ ▓██ ███ ███  ██▓▓▓ ▓▓▓▓  ▓ ▓▓▓█████ ███▓ ▓▓▓███ ▓▓▓▓▓ ▓▓▓████</pre>
		</div>
	</div>
</div>