<!DOCTYPE html>
<html class="full">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width" />
			<link rel="stylesheet" href="{{ url_for('static', filename='css/my_styles.css') }}" type="text/css"/>
			<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css"/>
			<link rel="stylesheet" href="{{ url_for('static', filename='css/ctf.css') }}" type="text/css"/>
			<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
			<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bg.css') }}" type="text/css"/> -->
				
			<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
			<link href="https://fonts.googleapis.com/css?family=Cuprum:700" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Audiowide&amp;subset=latin-ext" rel="stylesheet"> 
			
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type='text/javascript'></script>
			<script src="{{ url_for('static', filename='js/script.js') }}" type='text/javascript'></script>
					
			<title>{{ lang.frame.title }}</title>
		</head>
		<body>
				<div class="stars"></div>
				<div class="twinkling"></div>
				<div class="clouds"></div>

				{% if not user %}
					<div class="modal-autorization" id="modal-autorization">
						{% include "register.html" %}
					</div>
				{% endif %}

				<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">{{ lang.frame.toggle }}</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/">{{ lang.frame.title }}</a>
						</div>
						{% if not user %}
						<div class="navbar-collapse collapse">
							<form class="navbar-form navbar-right" role="form" method="post">
								<div class="form-group">
									<input type="text" placeholder="User" class="form-control" name="user">
								</div>
								<div class="form-group">
									<input type="password" placeholder="Password" class="form-control" name="password">
								</div>
								<button formaction="/login" type="submit" class="btn btn-success">{{ lang.frame.login }}</button> 
								<!-- <a href="/register"><button type="button" class="btn btn-success">{{ lang.frame.register }}</button></a> -->
								<button id="btn-open-register" type="button" class="btn btn-success">{{ lang.frame.register }}</button>
							</form>
						</div>
						{% else %}
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav">	
								<li><a href="/about">{{ lang.about.title }}</a></li>
								<li><a href="/tasks">{{ lang.tasks.title }}</a></li>
								<li><a href="/scoreboard">{{ lang.scoreboard.title }}</a></li>
									<li><a href="/scoreboard_school">{{ lang.scoreboard.title_school }}</a></li>
							</ul>
							<form class="white navbar-form navbar-right">
								{{ lang.frame.logged_in }} {{ user.username }} | <a href="/logout">{{ lang.frame.logout}}</a>
							</form>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				{% include page %}
		</body>
</html>
