<form class="authorization-form authorization-form-register" role="form" action="/register/submit" method="post" enctype="multipart/form-data">
    <div class="category-name">
        {{ lang.authorization.registration }}
    </div>
    <label><p align="justify">{{ lang.authorization.registration_description }}</p></label>
    <div class="contener_logo_pas">
        <div class="login_cont">
            <label>{{ lang.authorization.login }}:</label>
            <input type="text" class="form-control" name="user" required="required">
        </div>
        <div class="pas">
            <label>{{ lang.authorization.password }}:</label>
            <input type="password" class="form-control" name="password" required="required">
        </div>
    </div>
    <div class="contener_logo_pas">
        <div class="contener_email_reg">
            <div>
                <label>{{ lang.authorization.email }}:</label>
                <input type="email" class="form-control" name="email" required="required">
            </div>
        </div>
        <div>
            <label>{{ lang.authorization.region }}:</label>
            <input type="text" class="form-control" name="region" required="required">
        </div>
    </div>
    <label>{{ lang.authorization.who_participates }}:</label><br>
    <input type="radio" id="Choice1"
        name="school" value="1">
    <label for="contactChoice1">{{ lang.authorization.school }}</label>

    <input type="radio" id="Choice2"
        name="school" value="2">
    <label for="contactChoice2">{{ lang.authorization.student }}</label><br><br>
    <div class="g-recaptcha" data-sitekey="6Le_vXEUAAAAAC4dkYFqG3IWTG0JiOIkYFFWza40"></div>		
    <input type="submit" name="submit" id="submit" value="{{ lang.authorization.sign_up }}" class="btn_reg btn btn-info btn-block">
</form>