<div class="category-name">
	{{ cat.name }}
</div>
<div class="table">
	<a class="row-link row-info row">
		<span class="column col-1">[{{ lang.scoreboard.order }}]</span>
		<span class="column col-5">[{{ lang.scoreboard.player }}]</span>
		<span class="column col-4">[{{ lang.scoreboard.region }}]</span>
		<span class="column col-2">[{{ lang.scoreboard.score }}]</span>
	</a>
	{% for user in scores if (cat.id == 8 and user.school == 2) or (cat.id == 9 and user.school == 1) %}
	<a class="row-link row">
		<span class="column col-1">{{ loop.index }}</span>
		<span class="column col-5">{{ user.username }}</span>
		<span class="column col-4">{{ user.region }}</span>
		<span class="column col-2">{{ user.score }}</span>
	</a>
	{% endfor %}
</div>