<div class="task-block" data-task_id=""></div>
<h1 class="task-title"></h1>
<h5>(<b class="task-score"></b> {{ lang.task.points }}, 
	<b class="task-solved"></b> {{ lang.task.solved_by }})</h5>
<p>
	<b>{{ lang.task.description }}: </b>
	<span class="task-description"></span>
</p>

<p>
	<b>{{ lang.task.attachment }}: </b>
	<a href="" class="task-file"></a>
</p>

<input class="flag-input" type="text" class="form-control" placeholder="{{ lang.task.placeholder }}">
<button class="flag-submission" type="button" class="btn btn-block">{{ lang.task.submit }}</button>

