<h1 class="task-title">{{ task.name }}</h1>
<h5>(<b class="task-score">{{ task.score }}</b> points, 
		{{ lang.task.solution_format  }})</h5>
	<p>
		<b>{{ lang.task.description }}: </b>
		{% if not task.desc %}
			{{ lang.task.no_description }}
		{% else %}
			<p class="task-description">{{ task.desc|safe }}</p>
		{% endif %}
	</p>
{% if task.file %}
	<p>
		<b>{{ lang.task.attachment }}: </b>
		<a href="{{ url_for('static', 
			filename='files/'+task.file) }}" class="task-file">{{ task.file }}</a>
	</p>
{% endif %}
awdawwafawwfwf{{ task.isDone }}
	<input class="flag-input" type="text" class="form-control" 
{% if task.isDone %} disabled="disabled" {% endif %}
		placeholder="{% if task.isDone %}{{ lang.task.success }}{% 
		else %}{{ lang.task.placeholder }}{% endif %}">
	<button {% if task.isDone %}disabled{% endif %} class="flag-submission" 
		type="button" class="btn btn-block 
			{% if task.isDone %}
				btn-success
			{% else %}
				btn-primary
			{% endif %}">{{ lang.task.submit }}</button>


