.contener-category{
    margin:0;
    padding:0;
    padding-top: 30px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.contener-category>.category_task_contener{
    /*Отступ что бы не залазило под хедер*/
    position: relative; /*Не менять! при изменении звезды положатся по верх*/
    z-index: 5;
    background-image: url(../img/bg_main_final.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: 100vw 99.9vh;
}

.contener-category>.category_task_contener>.web{
    position: absolute;
	 top: 73vh;
	 left: 34vw;
}
.contener-category>.category_task_contener>.stegano{
    position: absolute;
    top: 49vh;
    left: 35.6vw;
}
.contener-category>.category_task_contener>.crypto{
    position: absolute;
    top: 18vh;
    left: 31vw;
}
.contener-category>.category_task_contener>.revers{
    position: absolute;
	top: 52vh;
	left: 51vw;
}

.contener-category>.category_task_contener>.admin{
    position: absolute;
 	top: 70vh;
 	left: 56vw;
}
.contener-category>.category_task_contener>.forensics{
    position: absolute;
    top: 56vh;
    left: 63vw;
}
.contener-category>.category_task_contener>.joy{
    position: absolute;
    top: 40vh;
    left: 74vw;
}
.contener-category>.category_task_contener>.final{
    position: absolute;
    top: 58vh;
    left: 84vw;
}

.contener-category>.category_task_contener>.admin_panel{
    position: absolute;
    top: 100px;
    left: 50px;
}

/*СТИЛИ ДЛЯ СССЫЛОК НА СТРАНИЦЕ КАТЕГОРИЙ*/
.contener-category>.category_task_contener>a{
    text-decoration: none;
    font-family: 'Audiowide', cursive;
    font-size: 20px;
    color:rgb(0, 0, 0);
    text-shadow: #ffffff 1px 0px, #ffffff 1px 1px, #ffffff 0px 1px, #ffffff -1px 1px, #ffffff -1px 0px, #ffffff -1px -1px, #ffffff 0px -1px, #ffffff 1px -1px, #ffffff 0 0 3px, #ffffff 0 0 3px, #ffffff 0 0 3px, #ffffff 0 0 3px, #ffffff 0 0 3px, #ffffff 0 0 3px, #ffffff 0 0 3px, #ffffff 0 0 3px;
    transition: 0.2s;
}
.contener-category>.category_task_contener>a:hover{
    text-shadow: #25a1c7 1px 0px, #25a1c7 1px 1px, #25a1c7 0px 1px, #25a1c7 -1px 1px, #25a1c7 -1px 0px, #25a1c7 -1px -1px, #25a1c7 0px -1px, #25a1c7 1px -1px, #25a1c7 0 0 3px, #25a1c7 0 025a1c7 3px, #25a1c7 0 0 3px, #25a1c7 0 0 3px, #25a1c7 0 0 3px, #25a1c7 0 0 3px, #25a1c7 0 0 3px, #25a1c7 0 0 3px;
    font-size: 27px;
    
}

/*Картинки для всех отсеков*/
.container_task_background{
    margin: 0;
    padding: 0;
    width: 100vw;
    position: relative; /*Не менять! при изменении звезды положатся по верх*/
    z-index: 5;
    height: 100vh;
}

#stegano_task_contener{
    /*Отступ что бы не залазило под хедер*/
    background-image: url(../img/stegano-min.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100vw 99.9vh;
    overflow: hidden;
}
#revers_task_contener{
    background-image: url(../img/reverse-min.png);
    background-repeat: no-repeat;
    /*height: 660px;
    background-size: cover;*/
    height: 100vh;
    background-size: 100vw 99.9vh;
    overflow: hidden;
    z-index: 5;
}
#crypto_task_contener{
    background-image: url(../img/crypto-min.png);
    background-repeat: no-repeat;
    /*background-size: cover;*/
    z-index: 5;
    /*height: 660px;*/
    height: 100vh;
    background-size: 100vw 99.9vh;
    overflow: hidden;
}
#web_task_contener{
    background-image: url(../img/web-min.png);
    background-repeat: no-repeat;
    /*height: 660px;
    background-size: cover;*/
    height: 100vh;
    background-size: 100vw 99.9vh;
    overflow: hidden;
    z-index: 5;
}
#admin_task_contener{
    background-image: url(../img/admin-min.png);
    background-repeat: no-repeat;
    /*height: 660px;
    background-size: cover;*/
    height: 100vh;
    background-size: 100vw 99.9vh;
    overflow: hidden;
}
#forensics_task_contener{
    background-image: url(../img/forensics-min.png);
    background-repeat: no-repeat;
    /*height: 660px;
    background-size: cover;*/
    height: 100vh;
    background-size: 100vw 99.9vh;
    overflow: hidden;
    z-index: 5;
}
#joy_task_contener{
    background-image: url(../img/joy-min.png);
    background-repeat: no-repeat;
    /*height: 660px;
    background-size: cover;*/
    height: 100vh;
    background-size: 100vw 99.9vh;
    overflow: hidden;
    z-index: 5;
}
#fnal_task_contener{
    background-image: url(../img/final-min.png);
    background-repeat: no-repeat;
    /*height: 660px;
    background-size: cover;*/
    height: 100vh;
    background-size: 100vw 99.9vh;
    overflow: hidden;
}
/*@media screen and (min-height: 900px){
    
    .contener-category>.category_task_contener{
    height: 950px;
    width: 1930px;
}
    
    .contener-category>.category_task_contener>.web{
    position: absolute;
    top: 535px;
    left: 1000px;
}
.contener-category>.category_task_contener>.stegano{
    position: absolute;
    top: 530px;
    left: 690px;
}
.contener-category>.category_task_contener>.crypto{
    position: absolute;
    top: 200px;
    left: 600px;
}
.contener-category>.category_task_contener>.revers{
    position: absolute;
    top: 800px;
    left: 630px;
}

.contener-category>.category_task_contener>.admin{
    position: absolute;
    bottom: 770px;
    left: 1100px;
}
.contener-category>.category_task_contener>.forensics{
    position: absolute;
    bottom:630px;
    right: 1250px;
}
.contener-category>.category_task_contener>.joy{
    position: absolute;
    top: 450px;
    right: 1430px;
}
.contener-category>.category_task_contener>.final{
    position: absolute;
    bottom:640px;
    right: 1630px;
}

.contener-category>.category_task_contener>.admin_panel{
    position: absolute;
    top: 100px;
    left: 50px;
}*/

}