.main-frame {
    overflow: hidden;
    position: relative;
}

.parent-bg {
    max-height: 27px;

    &.hovered {
        background: $btn-hovered-bg;
    }
}

.frame {
    margin: 0 0 30px;
    min-height: 720px;
}

.cats-col {
    .categories {
        .cats-list {
            list-style: none;

            margin: 0;
            padding: 0;

            .category-simple, .category-cats {
                display: block;

                &.hidden {
                    display: none;
                }
            }
        }

        .category-task {
            display: none;

            &.visible {
                display: block;
            }
        }
    }
}

.content-col {

    .content {
        display: none;
        color: $color-content;
        text-align: center;

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }

        .ascii {
            font-size: 10px;
            text-align: left;
        }

        &.active {
            display: block;
        }
    }

    .content-tasks {
        text-align: left;
    }
}

.tasks-table {
    text-align: left;
    .task-link {
        display: block;

        .task-description {
            overflow: hidden;
        }

        .task-complete {
            position: relative;
            text-align: center;

            .complete-left {
                float: left;
            }

            .complete-right {
                float: right;
            }

            .complete-background {
                position: absolute;
                left: 12px; bottom: 3px;
                z-index: -1;

                width: calc(100% - 24px); height: 15px;
                background: gray;
            }
        }
    }
}
