header {
	margin-bottom: 40px;

	.navigation {

		.nav-list {
			display: inline-block;
			list-style: none;
			padding: 0;
			margin: 0;

			&.right {
				float: right;
			}

			.nav-btn {
				display: inline-block;
				
				.nav-link, .nav-item {
					text-transform: uppercase;
				}
			}
		}
	}
}